body {
	display: block;
}
.WH_ {
	font-family: "Open Sans", Helvetica, Calibri, Arial, sans-serif;
	font-size: 14px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;




	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a4b357+0,75890c+100;Olive+3D+%233 */
	background: #a4b357; /* Old browsers */
	background: -moz-linear-gradient(top,  #a4b357 0%, #75890c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4b357), color-stop(100%,#75890c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a4b357 0%,#75890c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a4b357 0%,#75890c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a4b357 0%,#75890c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a4b357 0%,#75890c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c',GradientType=0 ); /* IE6-9 */


}
.WH_rosters {
	float: left;
	width: 270px;
	border-right: 1px solid #666;
	box-shadow: 1px 0 2px rgba(0,0,0,0.3);
	height: 100%;
	background-color: rgb(252, 252, 252);
	font-size: 13px;
}
.WH_roster {
	line-height: 17px;
}
.WH_roster--opened {
	background: #f5f5f5;
	/*border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;*/
}
.WH_roster_header {
	display: block;
	padding: 8px 8px 8px 33px;
	height: 17px;
	background-image: url("../pics/roster.gif");
	background-position: 9px 9px;
	background-repeat: no-repeat;
	cursor: pointer;
	position: relative;
}
.WH_roster_open_closed {
	width:  16px;
	height: 16px;
	right:   8px;
	top:     8px;
	background-image: url("../pics/list.png");
	position: absolute;
}
.WH_roster_print ,
.WH_roster_add {
	padding: 8px;
	height: 17px;
	text-align: center;
	color: #0082c6;
}
.WH_roster_body {
	display: none;
}

.WH_roster_army {
	display: block;
	padding: 8px 8px 8px 34px;
	min-height: 17px;
	background-position: 9px 9px;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	cursor: pointer;
	position: relative;
}
.WH_roster_army--CD {
	background-image: url("../pics/armies/chaos_deamon.jpg");
}
.WH_roster_army--DarkAngel {
	background-image: url("../pics/armies/dark_angels.png");

}
.WH_roster_army--selected {
	background-color: darkgrey;
	color: #FFF;
}



#WH_army {
	position: absolute;
	left: 278px;
	right: 16px;
	/*height: 100%;*/
	top: 16px;
	bottom: 16px;
	z-index: 20;
	box-sizing: padding-box;

}
#WH_army.WH_army--small {
	right: 358px;

}
.WH_army_in {
	/*height: 100%;*/
	/*overflow:  auto;*/
	padding-right: 12px;
	box-sizing: padding-box;
}
.WH_army_group {
	
}
.WH_army_group_name {
	/*margin-top: 16px;*/
	margin-bottom: 8px;
	padding: 3px 3px 3px 22px;
	border-radius: 3px;
	word-wrap: break-word;
	word-break: break-word;
	font-size: 11px;
	color: #fff;
	background-color: rgba(0,0,0,0.3);
	background-position: 3px center;
	background-repeat: no-repeat;
}
.WH_army_group_name__HQ {
	background-image: url("../pics/units/1_sect_1.png");
}
.WH_army_group_name__Troops {
	background-image: url("../pics/units/1_sect_3.png");
}
.WH_army_group_name__Elite {
	background-image: url("../pics/units/1_sect_2.png");
}
.WH_army_group_name__FastAttack {
	background-image: url("../pics/units/1_sect_4.png");
}
.WH_army_group_name__HeavySupport {
	background-image: url("../pics/units/1_sect_5.png");
}
.WH_army_group_pool {
	padding-bottom: 16px;
}



/*--------------------*/
.popup__overlay {
	font-family: "Open Sans", Helvetica, Calibri, Arial, sans-serif;
	font-size: 14px;
	display: none;
    position: fixed;
    left:  0;
    top:  0;
    width: 100%;
    height: 100%;
    z-index: 999;
    text-align: center;
    background-color:rgba(0,0,0,0.5);
    }
.popup {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top:0px;
    right:32px;
    bottom:0px;
    left:32px;
    /*background-color:rgba(255,255,255,1);*/
    overflow: hidden;
    } 
.popup__overlay:after {
    display: inline-block;
    width:  0;
    height: 100%;
    vertical-align: middle;
    content: ''
    } 

/*--------------------*/
.info__overlay {
	font-family: "Open Sans", Helvetica, Calibri, Arial, sans-serif;
	font-size: 14px;
	display: none;
    position: fixed;
    left:  0;
    top:  0;
    width: 100%;
    height: 100%;
    z-index: 999;
    text-align: center;
    background-color:rgba(0,0,0,0.5);
    }
.info {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top:15px;
    right:15px;
    bottom:15px;
    left:15px;
    background-color:rgba(255,255,255,1);
    overflow: hidden;
    border-radius: 3px;
    } 
.info__overlay:after {
    display: inline-block;
    width:  0;
    height: 100%;
    vertical-align: middle;
    content: ''
    } 

/*------armiesList----*/
#armiesList {
	display: none;
}

.WH_army_in_rules {
	/*min-height: 26px;*/
	background-color: #fff;
	padding:1px 11px 11px 11px;
	/*font-size: 13px;*/
	margin-bottom: 16px; 
	border-radius: 3px;
}

.WH_army_in_rules_h5 {
	margin: 1em 0 0.33em;
}

.WH_army_slot {
	min-height: 38px;
	background-color: #fff;
	margin: 1px 0 0 1px;
}
.WH_army_slot:first-child {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.WH_army_slot:last-child {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.WH_army_unit,
.WH_popup_unit {
	min-height: 38px;
}
.WH_army_unit_name,
.WH_popup_unit_name {
	height: 16px;
	padding:  11px 11px 11px 11px;
	text-align: left;
	position: relative;
	/*background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: 3px 3px;*/
}

.WH_army_unit_name__disable {
	color: #CCC;
}

.WH_army_unit_header_delete {
	background-image: url('../pics/controls/delete_grey.png')
}
.WH_army_unit_header_delete:hover {
	background-image: url('../pics/controls/delete.png')
}
.WH_army_unit_header_collapse {
	background-image: url('../pics/controls/collapse.png')
}

.WH_army_unit_header_delete ,
.WH_army_unit_header_collapse {
	right: 11px;
	top:11px;
	position: absolute;
	width: 16px;
	height: 16px;
}
.WH_army_unit_header_unit {
	padding:1px 11px 1px;
	border-top: 1px dashed #bdbcbb;

	font-size: 13px;
	display: none;
	min-height: 50px;
	background-color: rgb(252,252,252);
}


.WH_army_unit_wargear_span,
.WH_army_unit_warlordTrait_span,
.WH_army_unit_specialRules_span {
	font-size: 12px;
}
.WH_wargear.WH_wargear--readyToChange {
	color: darkred;
	border-bottom: 1px dotted  darkred;
}
.modelName--readyToChange {
	color: darkred;
}
.WH_army_unit_wargear_span img {
	width: 12px;
	height: 12px;
	vertical-align: text-bottom;
}
#WH_options {
	width: 336px;
	font-size: 13px;
	position: absolute;
	right: 16px;
	top:16px;
	bottom: 16px;
	z-index: 10;
	/*background-color: rgb(246, 246, 246);*/

}

.WH_options {
	background-color: rgb(246, 246, 246);
	border-radius: 3px;
	height: 100%;
}

.WH_options_header {
	background-color: rgb(252, 252, 252);
	min-height: 24px;
	overflow: hidden;
	padding: 16px 16px 14px;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	border-bottom: 1px solid rgba(0,0,0,0.12);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.06);
	box-shadow: 0 1px 2px rgba(0,0,0,0.06);
	text-shadow: 0 1px 0 #fff;
	word-wrap: break-word;
}


.WH_options_body0 {
	position: absolute;
	top:56px;
	bottom:0px;
	width: 100%;
	/*padding-bottom: 15px;*/
	/*box-sizing: border-box;*/
}

.WH_options_body {
	background: #f6f6f6;
	/*background-color: rgb(146, 46, 246);*/
	top: 10px;
	bottom: 0px;
	left: 10px;
	right: 2px;
	padding-right: 8px; 
	position: absolute;
	overflow: hidden;
	/*height: 100%;*/
	/*box-sizing: border-box;*/
}

.WH_option {
	background: #fff;
	margin-bottom: 10px;
	border: 1px solid #dedddc;

	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.06);
	box-shadow: 0 1px 2px rgba(0,0,0,0.06);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	/*display: none;*/
}
.WH_option_header {
	border-radius: 2px;
	position: relative;
	padding: 5px 8px 5px 8px;
	background: #fff;	
	min-height: 16px;
	border-bottom: 1px solid #cccbca;
	line-height: 1.33;
}
.WH_suboption_header {
	border-radius: 2px;
	position: relative;
	padding: 5px 8px 5px 8px;
	background: #fff;	
	min-height: 16px;
}
.WH_suboption ,
.WH_suboption .WH_option_action{
	border-top: 1px dashed #bdbcbb;
}
.WH_suboption:first-child ,
 .WH_option_body  .WH_option_action:first-child{
	border-top: none;
}

.WH_option_action--used {
	background-color: grey;
	color: #FFF;
}
.WH_option_action {
	border-radius: 2px;
	position: relative;
	padding: 5px 8px 5px 32px;
	min-height: 16px;
	background-repeat: no-repeat;
	background-position: 8px 5px;
	/*background-size: 16px 16px;*/
	line-height: 1.25;
}
.WH_option_action b{
	color: #333;
}
.WH_option_action--used:hover ,
.WH_option_action:hover {
	background-color: darkgrey;
	color: #FFF;
}
.WH_option_action:hover b{
	color: #FFF;
}
.WH_option_action_indicator {
	height: 16px;
	width: 16px;
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 12px 12px;
	position:  absolute;
	top: 7px;
	left: 11px;
	background-color: 
}
.WH_option_action_indicator--exclamation {
	background-image:url('../pics/micro/exclamation.png') 
}
.WH_option_action_indicator--stop {
	background-image:url('../pics/micro/stop.png') 
}
.WH_option_action_indicator--minus {
	background-image:url('../pics/micro/minus.png') 
}
.WH_option_action_indicator--plus {
	background-image:url('../pics/micro/plus.png')
}
/*iconset:drf*/



.WH_popup_option_s {
	background-color: #fff;
	margin: 1px 0 0 1px;
	min-height: 150px;
	width : 150px;
	display: inline-block;
	margin: 5px;
	vertical-align: top;
	border-radius: 3px;
}
.WH_popup_option_s_unit {

}
.WH_popup_option_s_unit_img {
	background-color: #CCC;
	width: 140px;
	height: 140px;
	margin: 5px 5px 0px;
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.WH_popup_option_s_unit_name {
	min-height: 16px;
	padding: 11px 5px 11px;
	cursor: pointer;

}
.WH_popup_option_s_unit_info {
	font-size: x-small;
	padding: 0px 5px 11px;
	color: #2A5DB0;
	color: rgba(20,150,187);
	cursor: pointer;
}


.WH_select_army {
	display: inline-block;
	width: 100%;
}
.WH_select_army:first-child {
	margin-top: 15px;
}


.WH_select_army_div {
	border-radius: 3px;
	background-color: #FFF;
	padding: 11px 11px 15px 11px;
	margin-bottom: 10px; 
	text-align: left;
	vertical-align: top;
}
.WH_select_army_name {
	text-align: left;
	padding: 5px;
	color: #0082c6;
	cursor: pointer;
	}

.WH_select_army_structure_unit {
	font-size: 12px;
	line-height: 15px;
	text-align: left;
	padding-left: 36px; 
	background-size: auto 13px;
	background-repeat: no-repeat;
	background-position: 16px 1px;
}
.WH_select_army_structure_h5 {
	margin: 5px;
	padding: 0px;
}

.WH_select_army_structure_unit__HQ {
	background-image: url("../pics/units/1_sect_1.png");
}
.WH_select_army_structure_unit__Troops {
	background-image: url("../pics/units/1_sect_3.png");
}
.WH_select_army_structure_unit__Elite {
	background-image: url("../pics/units/1_sect_2.png");
}
.WH_select_army_structure_unit__FastAttack {
	background-image: url("../pics/units/1_sect_4.png");
}
.WH_select_army_structure_unit__HeavySupport {
	background-image: url("../pics/units/1_sect_5.png");
}

.WH_select_army_h5 {
	margin: 5px;
	padding: 0px;
}
.WH_select_army_restriction_span {
	font-size: 12px;
	line-height: 14px;
	padding-left: 20px; 
}



.WH_select_army_rule_span {
	font-size: 12px;
	line-height: 15px;
	text-align: left;
	padding-left: 16px;
}
.WH_army_select_specialRules_span {
	font-size: 12px;
}


.WH_select_army_block {
	vertical-align: top;
	display: inline-block;
	width: 31%;
	padding-right: 2%;
	min-width: 350px;

}

.WH_roster_army_del {
	width: 16px;
	height: 16px;
	background-image: url('../pics/controls/delete_grey.png');
	position: absolute;
	right:8px;
}


.WH_roster_army_del:hover {
	background-image: url('../pics/controls/delete.png');
}
.WH_roster_army_name {
	padding-right: 24px;
	/*color: blue;*/
}



.WH_select_faction {
	width:200px;
	height: 150px;
	background-size: cover;
	display: inline-block;
	margin: 5px;
	cursor: pointer;
}
.WH_select_faction__DarkAngels {
	background-image: url('../pics/covers/DarkAngels.png');
}
.WH_select_faction__DeamonsOfChaos {
	background-image: url('../pics/covers/space_marines.png');	
}

.popup_close {
	width: 16px;
	height: 16px;
	background-image: url('../pics/controls/delete.png');
	position: absolute;
	right:8px;
	top:8px;
}

.WH_unit_header {
	margin: 1em 0 0.5em;
}
.WH_unit_linkList {
	margin-bottom: 1em; 
	line-height: 1.5em;
	display: block;
}

.WH_army_unit_header_unit_modelAbilities {
	float: right;
	min-height: 38px;
	min-width:200px;
	/*background-color: grey;*/
	margin: 0px 0px 0px 10px;
	font-size: 12px;
}
.WH_army_unit_table {
	width: 100%;
background: none;
border: 1px solid #d8d8d8;
border-collapse: separate;
border-spacing: 0;
border-radius: 3px;


}
.WH_army_unit_tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
	text-align: center;
}

.WH_army_unit_tr td,
.WH_army_unit_tr th{
vertical-align: top;
padding: .3em .7em;
padding-bottom: -webkit-calc(.3em + 1px);
padding-bottom: calc(.3em + 1px);
text-align: left;
border-bottom: 1px solid #e5e5e5;
	text-align: center;
min-width: 11px;
}

.WH_army_unit_tr td+td, 
.WH_army_unit_tr th+th {
border-left: 1px solid #e5e5e5;
}

.WH_army_unit_tr th {
	font-size: 11px;
}

tr:last-child>td {
	border-bottom-style: none;
}

.info .WH_specialRules {
	/*display: block;*/
	text-align: left;
	line-height: 150%;

}
.WH_wargear,
.WH_specialRules {
	color: #0082c6;
	border-bottom: 1px dotted #0082c6;
	/*padding-bottom: 0px;*/
	/*border-radius: 3px;*/
	margin-right: 0.75em;
	cursor: pointer;
}
.info .info_td_type {
	text-align: left;
}

.WH_specialRules_textBlock {
	text-align: left;
}



#infoHeader {
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid rgba(0,0,0,0.12);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.06);
	box-shadow: 0 1px 2px rgba(0,0,0,0.06);
	text-shadow: 0 1px 0 #fff;
	word-wrap: break-word;
	height: 41px;
}

#infoBlock {
	padding: 15px;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	position: absolute;
	bottom: 0px;
	top: 60px;
}